body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    padding: 10px;
    margin: 10px;
}

div {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap-reverse;
    height: 400px;
    width: 400px;
    justify-items: stretch;
}

.grid-item {
    box-sizing: border-box;
    width: auto;
    height: auto;
    border: 1px solid #000;
}